*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #0a91da, #ddad29f5);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  border: 1px solid rgba 255, 255, 255, 0.45;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.45);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: #a79797;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-all;
  width: 400px;
  border-radius: 30px;
}

.output .current-operand {
  color: #353333;
  font-size: 1.5rem;
}

.output .previous-operand {
  color: black;
  font-size: 3rem;
}